/* Component Stylesheet 
============================================================
============================================================*/

/* Navigation */ 


ul {
    padding: 0;
    margin: 0;
}

li {
	float: left;
    display: inline;
    position: relative;
    border: .4em solid #a3a3a3;
    list-style-type: none;
    text-decoration: none;
    font-size: 1em;
    padding: 1em 0 0 .5em;
	text-align: center;
}

ul ul {
    position: absolute;
    display: none;
   
}


li:hover > ul {
    display: block;
   
}

a{
	text-decoration: none;
	margin: 4.3em 4.3em 0 4em;
	margin-bottom: 2em;
	
}

li:hover{
	background-color: #e4e4e4;
}
