<!DOCTYPE html>
<html>
<head>
	<title>WSP Main Component: Sarah Greenhill</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<header>
		<h1>Main Component: Header & Navigation</h1>
		<nav>
			<ul>
				<li>
					<a href="#">Home</a>
					<ul>
            			<li class="remove"><a href="#">1</a></li>
						<li class="remove"><a href="#">2</a></li>
						<li class="remove"><a href="#">3</a></li>
					</ul>
				</li>
			</ul>
		
			<ul>
				<li>
					<a href="#">About Us</a>
					<ul>
            			<li class="remove"><a href="#">1</a></li>
						<li class="remove"><a href="#">2</a></li>
						<li class="remove"><a href="#">3</a></li>
					</ul>
				</li>
			</ul>
		
			<ul>
				<li>
					<a href="#">Training</a>
					<ul>
            			<li class="remove"><a href="#">1</a></li>
						<li class="remove"><a href="#">2</a></li>
						<li class="remove"><a href="#">3</a></li>
						<li>
							<a href="#">Sub</a>
							<ul>
                    			<li class="remove"><a href="#">1</a></li>
								<li class="remove"><a href="#">2</a></li>
								<li class="remove"><a href="#">3</a></li>
								<li class="remove"><a href="#">4</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		
			<ul>
				<li>
					<a href="#">News</a>
					<ul>
            			<li class="remove"><a href="#">1</a></li>
						<li class="remove"><a href="#">2</a></li>
						<li class="remove"><a href="#">3</a></li>
					</ul>
				</li>
			</ul>
		
			<ul>
				<li>
					<a href="#">Contact Us</a>
					<ul>
            			<li class="remove"><a href="#">1</a></li>
						<li class="remove"><a href="#">2</a></li>
						<li class="remove"><a href="#">3</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<!-- End Component -->
	
</body>
</html>