<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Two: Sarah Greenhill</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>

	
</head>
<body>

	<!-- Component -->
	<h1>Component Two: About Me</h1>
	<section>
		<h2>About Me</h2>
		<img src="images/profilePic.jpg" alt="My Face" width="150" height="150">
		
		<div>
			<p>
			Sarah Rebecca Greenhill is a web developer, graphic designer, illustrator, and writer from Connecticut. She is a jack of all trades, yet a master of many. She is also quirky, a quick learner, loves to read (books and comics/graphic novels), and is an avid gamer. With a strict attention to detail, deep-seated love for what she does, and a thirst for knowledge that is never ending; she strives to fine-tune her skills daily. 
			<br>
			<br>
			Currently, she attends Full Sail University as a full time student in the Web Design & Development degree program. Her favorite programming language is javaScript and can't get enough of the various different ways it can be used to manipulate the Document Object Model. There has never been a time in her life when she wasn't creating and art is as much a part of who she is as her internal organs.  
			</p>
		
			<h3>Favorite Quote:</h>
				<blockquote>"Happiness can be found, even the darkest of times, if one only remembers to turn on the light."
					<br> 
- Albus Percival Wulfric Brian Dumbledore
			</blockquote>
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>