<!DOCTYPE html>
<html>
<head>
	<title>WSP Component One: Sarah Greenhill</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	
	<header id="top" class="header">
    	<h1>Component One: Call to Action</h1>
        <div>
			<h4>Today's weather is set to be a real doozy!</h4>
			
			<a href="http://weather.com" class="btn" target="_blank">Click to Learn More</a>
        </div>
    </header>
	<!-- End Component -->
	
</body>
</html>