<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Five: Sarah Greenhill</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<h1>Component Five: Recent Articles</h1>
	<section>
		<article>
			<a target="_blank" href="#">
				<img src="images/ArticleOne.png" alt="Article One" width="250" height="300"> 
			</a>
			<h4>Title: Article Title</h4>
			<span>
			Article One: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate libero mauris, at tincidunt augue laoreet vel. Integer egestas ex et tempus gravida. Sed id consequat sapien. Cras sed enim cursus diam rutrum porttitor in nec lorem.
			</span>
		
			<a target="_blank" href="#">
				<img src="images/ArticleTwo.png" alt="Article Two" width="250" height="300">
			</a>
			<h4>Title: Article Title</h4>
			<span>
			Article One: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate libero mauris, at tincidunt augue laoreet vel. Integer egestas ex et tempus gravida. Sed id consequat sapien. Cras sed enim cursus diam rutrum porttitor in nec lorem.
			</span>
		
			<a target="_blank" href="#">
				<img src="images/ArticleThree.png" alt="Article Three" width="250" height="300">
			</a>
			<h4>Title: Article Title</h4>
			<span>
			Article One: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate libero mauris, at tincidunt augue laoreet vel. Integer egestas ex et tempus gravida. Sed id consequat sapien. Cras sed enim cursus diam rutrum porttitor in nec lorem.
			</span>
		
			<a target="_blank" href="#">
				<img src="images/ArticleFour.png" alt="Article Four" width="250" height="300">
			</a>
			<h4>Title: Article Title</h4>
			<span>
			Article One: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate libero mauris, at tincidunt augue laoreet vel. Integer egestas ex et tempus gravida. Sed id consequat sapien. Cras sed enim cursus diam rutrum porttitor in nec lorem.
			</span>
		
			<a target="_blank" href="#">
				<img src="images/ArticleFive.png" alt="Article Five" width="250" height="300">
			</a>
			<h4>Title: Article Title</h4>
			<span>
			Article One: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate libero mauris, at tincidunt augue laoreet vel. Integer egestas ex et tempus gravida. Sed id consequat sapien. Cras sed enim cursus diam rutrum porttitor in nec lorem.
			</span>
		
			<a target="_blank" href="#">
				<img src="images/ArticleSix.png" alt="Article Six" width="250" height="300">
			</a>
			<h4>Title: Article Title</h4>
			<span>
			Article One: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate libero mauris, at tincidunt augue laoreet vel. Integer egestas ex et tempus gravida. Sed id consequat sapien. Cras sed enim cursus diam rutrum porttitor in nec lorem.
			</span>
		</article>
	</section>
	<!-- End Component -->
	
</body>
</html>