/* Component Stylesheet 
============================================================
============================================================*/


img{
	border: .2em solid #999999;
	border-radius: .5em;
	vertical-align: top;
	float: left;
	display: inline;
}

span{
	width: 18.4%;
	text-align: left;
	display: block;
	border: .2em solid #999999;
	border-radius: .5em;
	margin-bottom: .5em;
	padding: .1em;
}

h4{
	padding: .2em;
	margin: 0;
	font-family: cursive, helvetica, sans-serif;
	background: #999999;
	border-radius: .5em;
	width: 18.59%;
	text-align: center;
}

h1{
	text-align: center;
}

article{
	margin-left: 5em;
}
