/* Main CSS */

html , body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Philosopher", Arial , sans-serif;
}


/* Buttons */

.btn-dark {
    border-radius: 0;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333333;
    background-color: rgb(255,255,255);
}

.btn-light:hover , .btn-light:focus , .btn-light:active {
    color: #333333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header .text-vertical-center{
	color: #ffffff;
}

.header h4{
	
	margin: 0 2em 2em 2em;
}

/* About */

.about {
    padding: 3.13em 0;
}

/* Five Focuses */

.focus {
    padding: 3.13em 0;
    background-color: #085BBF;
    
}

.focus-item {
    margin: 0 0 .5em 2em;
	width: 17%;
	float: left;
	display: inline-block;
}


/* Main Focus */

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #ffffff;
    font-family: "Orbitron", Arial , sans-serif;
}

.text-vertical-center p {
    margin: 0;
    padding: 0 10em 0 10em;
    font-weight: 700;
    color: #000000;
 
}

.mainFocus {
    display: table;
    width: 100%;
    color: #000000;
    background: url(../img/mainFocusBg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.mainFocus img{
	margin: 1em 4em 2em 0;
}

.mainFocus h1{
	color: #000000;
	font-family: "Orbitron", Arial , sans-serif;
	margin-top: .5em;
}


/* Headings */

.row h2{
	font-family: "Orbitron", Arial , sans-serif;
	text-align: center;
}

/* Clear */

#clear{
	clear: both;
}

/* Examples */

.example {
    padding: 50px 0;
}

.example-item {
    margin-bottom: 30px;
    float: left;
    display: inline;
    margin-left: 1em;
    
}


.img-example {
    margin: 0 auto;
    border: solid #999999;
}

.img-example:hover {
    opacity: 0.8;
}

.swatches{
	margin-left: 8em;
}

/* Footer */

footer {
    padding: 1em 0 0 1em;
    background-color: #c4c4c4;
}