<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Three: Sarah Greenhill</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<h1>Component Three: Footers</h1>
	<section>
		<p class="placeholder">Header
			<br>
			<br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat urna quis dolor vehicula, nec tempus eros malesuada. Nunc porttitor lacinia lectus, vitae egestas diam commodo ut. Duis vestibulum est vel turpis ultrices euismod. Sed hendrerit blandit fermentum. Phasellus quis eros ac enim finibus porta nec quis mi. Etiam facilisis quam vitae sapien vulputate, eget porttitor turpis semper. Aenean nibh nisl, viverra non leo non, ornare mattis sapien.

Nam augue ex, rhoncus sed tempor vel, pulvinar vel mauris. Ut pretium, elit et interdum dictum, risus tortor viverra ante, at ultricies neque arcu eu neque. Nam vel odio in lorem ornare euismod. Integer cursus sed velit quis venenatis. In hac habitasse platea dictumst. Sed vitae sapien arcu. Nullam ipsum libero, molestie sit amet nibh ac, lobortis euismod massa. Duis tincidunt lacus ac erat scelerisque scelerisque. Sed suscipit sed nibh id vestibulum. Nam mollis urna nec elit venenatis mollis. Quisque dignissim lorem vulputate, finibus quam eget, vehicula est. Proin posuere egestas justo, in fermentum arcu laoreet id. Sed at nulla posuere, vestibulum dui et, convallis lacus. Praesent viverra quis nisl sodales suscipit. Donec bibendum diam tellus, ac condimentum neque tristique nec.

In venenatis viverra elit, eget mollis lorem. Pellentesque urna nisi, faucibus eu congue nec, dignissim eget risus. Nam porta urna in ligula maximus accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultricies quam mauris, id iaculis ipsum suscipit eu. Etiam tincidunt augue quis velit rutrum, id dictum dui vestibulum. Nunc dapibus, neque non tristique congue, metus sem hendrerit justo, eu vulputate mi quam vel arcu. Aliquam porta fermentum metus lobortis sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ullamcorper sollicitudin dolor, eget vestibulum dolor rutrum ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
		</p>
	</section>
	
	<section>
		<p class="placeholder">Main Content
			<br>
			<br>
			Sed vehicula tortor vitae neque varius porta. Praesent sapien libero, aliquet eget venenatis id, scelerisque in nisl. Cras tincidunt est lacus. Duis pretium massa quis euismod finibus. Morbi semper lacus rutrum, bibendum turpis ac, porttitor leo. Pellentesque leo est, ullamcorper vel urna laoreet, malesuada ultricies odio. Morbi eget lectus est. Mauris lacinia ipsum vitae leo finibus ullamcorper. Nulla molestie tortor eget augue semper, vel sodales est sollicitudin. Nunc vel porta augue. Fusce sed tellus sit amet lacus ornare tristique. Suspendisse vehicula, ligula eu faucibus aliquam, est libero eleifend tellus, at commodo metus eros ut est. Mauris a ipsum ut turpis facilisis maximus a non libero.

Fusce nibh leo, semper elementum enim in, efficitur pulvinar diam. Ut arcu risus, viverra sagittis massa ut, viverra finibus elit. Maecenas non metus purus. Sed posuere ultrices varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam aliquam enim tempus fermentum scelerisque. Vivamus ut dictum neque. Aenean ac diam imperdiet, fermentum nisl sed, vulputate nunc. Sed vitae mi lobortis urna finibus dapibus id nec urna. Nunc volutpat aliquam elit, a tristique augue sagittis vitae. Nam et efficitur arcu, in convallis mi. Cras vestibulum eu diam vel ultrices. Sed metus est, fermentum eu bibendum a, fringilla eget justo. Nullam in arcu vel diam tristique ullamcorper id in metus. In placerat aliquet elementum.
			
		</p>
	</section>
	
	<section>
		<footer id="pageFooter"><!--Start Footer-->
			<form action="http://sergeantsarz.github.io/Greenhill_Sarah_WSP/Greenhill_Sarah_WSP-Wk4/" method="post" class="search-form" target="_blank">
				<label for="search">Search</label>
					<input type="search" placeholder="Search" title="Search" name="search" id="search">
					<input type="submit" class="submit" value="Go" name="submit" >
				</form>
				
			<p class="copyright">&copy; October 2015  | Sarah R. Greenhill</p>
			
			<section>
			<h4> Site Map </h4>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Our Products</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			</section>
  
		</footer>
	</section>
	<!-- End Component -->
	
</body>
</html>