<!DOCTYPE html>
<html>
<head>
	<title>WSP Component Three: Sarah Greenhill</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<h1>Component Three: Footers</h1>
	<section>
		<footer id="pageFooter"><!--Start Footer-->
			<form action="http://sergeantsarz.github.io/Greenhill_Sarah_WSP/Greenhill_Sarah_WSP-Wk4/" method="post" class="search-form" target="_blank">
				<label for="search">Search</label>
					<input type="search" placeholder="Search" title="Search" name="search" id="search">
					<input type="submit" class="submit" value="Go" name="submit" >
				</form>
				
			<p class="copyright">&copy; October 2015  | Sarah R. Greenhill</p>
			
			<section>
			<h4> Site Map </h4>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Our Products</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			</section>
  
		</footer>
	</section>
	<!-- End Component -->
	
</body>
</html>